#root {
  display: flex;
  justify-content: center;
}

Table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  Table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

Table th,
Table td {
    padding: 12px 15px;
}

Table tbody tr {
  border-bottom: 1px solid #dddddd;
}

Table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

Table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

Table tbody tr:hover {
  font-weight: bold;
  color: #009879;
}
  .drop-div {
    
    width: 100vw;
    height: 100vh;
    border-top: 1px solid #333;
}